# Conexões do Supabase (Database + Auth Cloud)
NEXT_PUBLIC_SUPABASE_URL=sua_url_aqui
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua_chave_anon_aqui

# Chave de Serviço do Supabase (NECESSÁRIA PARA ADMIN)
SUPABASE_SERVICE_ROLE_KEY=sua_service_role_key_aqui

# Autenticação Google para a IA Generativa do Chat RAG
GOOGLE_GENERATIVE_AI_API_KEY=sua_chave_google_aqui
